#intro {
  height: calc(100vh- 8rem);
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.introcontent {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hello {
  font-size: 1.75rem;
  font-weight: 100;
}
.name {
  color: yellow;
}
.para {
  font-size: medium;
  font-weight: 100;
  text-align: justify;
  margin-left: 30px;
}

.button1 {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-left: 30px;
}
.buttonbox {
  display: inline;
}
.button1:hover {
  background-color: yellow;
  color: rgb(0, 0, 0);
}
